#edit {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin: var(--spacing-68) auto;
  gap: var(--spacing-36);
}

.edit__title {
  font-size: var(--font-jumbo);
}

.edit__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  max-width: 990px;
  gap: var(--spacing-48);
}

.edit__img {
  padding-bottom: var(--spacing-8);
  max-width: 150px;
}

.edit__img-side {
  padding-top: var(--spacing-8);
  font-size: var(--font-small);
  font-weight: 600;
  text-align: center;
  border-top: 2px solid var(--primary-solid);
}
